@{
    ViewData["Title"] = "Index";
}
<div class="container border p-0"> 
    <h1 class="bg-theme p-2 display-6 text-center">Welcome to the admin page</h1>
    
    <p class="p-1 text-center">
        Hi, welcome to the admin page. In this page you have all control over the tax tables.<br/>
        You can create, edit and delete tables and users account.
    </p>
   
</div>