@{
    ViewData["Title"] = "Tables Page";
}
<div class="container">
    <h4 class="text-center p-1">SARS tax tables</h4>
    <div class="p-2">
        <button class="btn btn-primary">All</button>
        <button class="btn btn-outline-primary">2024</button>
    </div>
    <div class="row"> 
        <div class="col-lg-6">
            <h1>2024 Tax year (1 March 2023 - 29 Feb 2024)</h1>
            <table class="table table-bordered bg-white">
                <thead class="bg-theme">
                    <tr>
                        <th>Taxable Income (R)</th>
                        <th>Rates of Tax (R)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0 - R250 000</td>
                        <td>18%</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>