@model TaxEstimator.ViewModels.TaxTablesViewModel
@{
    ViewData["Title"] = "Tables Page";
}
<div class="container">
    <h1 class="text-center display-6">SARS Income tax tables</h1>
    <div class="row"> 

        <div class="col-2">
            <div tax-year="@Model.Year" index-url="/TaxTables/Index" tax-tables-navigation>
            </div>
        </div>
       
        <div class="col-10">
            <h4 class="p-2 text-center">@Model.Year Tax year (1 March @(Model.Year-1) - 29 Feb @Model.Year)</h4>
            @await Html.PartialAsync("_TaxBracketTablesPartial.cshtml",Model.TaxBrackets)
        
           
            <h4 class="p-2 text-center">Rebate Table</h4>
            @await Html.PartialAsync("_RebateTablePartial.cshtml",Model.Rebate)
           
            <h4 class="p-2 text-center">Threshold Table </h4>
            @await Html.PartialAsync("_ThresholdTablePartial.cshtml",Model.Threshold)   
        </div>
    </div>
</div>